cx_Oracle
descartes
fastai
fiona
ipython-sql
ipywidgets
jupyter-sql
jupyter_contrib_nbextensions
matplotlib
numpy
pandas
pandas-profiling
plotly
pysal
scipy
seaborn
shap
shapely
sklearn
sklearn-pandas